asgiref==3.8.1
astroid==3.3.5
attrs==23.2.0
certifi==2024.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
dill==0.3.9
Django==4.2.16
django-environ==0.11.2
djangorestframework==3.15.2
environ==1.0
fiona==1.9.6
geopandas==0.14.3
gunicorn==23.0.0
importlib_metadata==7.1.0
isort==5.13.2
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
pylint==3.3.1
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
shapely==2.0.3
six==1.16.0
sqlparse==0.5.1
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
wrapt==1.14.1
zipp==3.18.1
